
.carousel .control-next.control-arrow::before {
    border-left: 8px solid #010101;
}
.carousel .control-prev.control-arrow::before {
    border-right: 8px solid #000;
}
.carousel.carousel-slider .control-arrow:hover {
    background: rgba(255, 255, 255, 0.2);
}
.carousel .carousel-status{
    display: none;
}