.toggle-button-cover {
    position: relative;
  }

  .button-cover:before {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
  }
  
  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    top: 50%;
    width: 57px;
    height: 23px;
    margin: 0 auto 0 auto;
    overflow: hidden;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
  }
  
  .button.b2 {
    border-radius: 2px;
  }
  
  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ffffff;
    transition: 0.3s ease all;
    z-index: 1;
    border: 1px solid rgb(88, 88, 88)
  }
  
  /* Button 1 */
  #button-1 .knobs:before {
    content: "L";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 9px;
    font-weight: bold;
    text-align: center;
    line-height: 0;
    padding: 9px 3px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }
  
  #button-1 .checkbox:checked + .knobs:before {
    content: "D";
    color: black;
    left: 32px;
    background-color: rgb(255, 255, 255);
  }
  
  #button-1 .checkbox:checked ~ .layer {
    background-color: #020202;
  }
  
  #button-1 .knobs,
  #button-1 .knobs:before,
  #button-1 .layer {
    transition: 0.3s ease all;
  }